/*
  Rui Santos
  Complete project details at https://RandomNerdTutorials.com/esp32-mpu-6050-web-server/

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files.
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
html {
  background-color: #ffad6b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
}
.conteudo{
  text-align: center;
}
p {
  font-size: 1.2rem;
}
body {
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #202020;
  color: #d46000;
  font-size: 1rem;
}
.content {
  padding: 20px;
}
.card {
  background-color: #e7e7e7;
  box-shadow: 4px 4px 24px 2px rgba(140,140,140,.5);
  padding-bottom: 2rem;
}
.card-title {
  color:#202020;
  font-weight: bold;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid; grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 2rem;
}
.reading {
  font-size: 1.2rem;
}

.button{
  border: none;
  color: #000000;
  background-color: #d46000;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 200px;
  font-weight: bold;
  border-radius: 8px;
}

.reset:hover {
  background-color: #a7a7a7;
}

#change{
}
